<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Edit Coffee Information</h1>
    <form action="" method="">
        <input type="text" name="coffeeBrand" value="<%= info.coffeeBrand %>">
        <input type="text" name="roastType" value="<%= info.roastType %>">
        <input type="text" name="coffeeForm" value="<%= info.coffeeForm %>">
        <input type="text" name="coffeeOrigin" value="<%= info.coffeeOrigin %>">
        <input type="text" name="brewingMethod" value="<%= info.brewingMethod %>">
        <input type="text" name="coffeeFlavor" value="<%= info.coffeeFlavor %>">
        <input type="text" name="brewTime" value="<%= info.brewTime %>">
        <button type="submit">Update</button>
</form>
</body>
</html>